@font-face {
  font-family: "OnePiece";
  src: url(../OnePiece.ttf);
}

body {
  background-image: url("../images/onepiece_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1, h3 {
  font-family: "OnePiece";
  font-weight: bold;
  color: rgb(255, 208, 0);
  font-size: 120px;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 80px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}

.header {
  display: flex;
}

.header .center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-right: 150px;
}

.container.adobo {
  justify-content: center;
}

.container.adobo img {
  padding-right: 90px;
}